.footer {
  font-family: 'Bebas Neue', cursive;
}

.heading {
  font-size: 60px;
  font-family: 'Alex Brush', cursive;
}

.main {
  font-family: 'Bebas Neue', cursive;
}

.nav {
  font-family: 'Bebas Neue', cursive;
}

ul {
  list-style: none;
}