.banner {
  background-color: rgb(230, 0, 18);
  color: white;
}

.footer {
  font-family: 'Bebas Neue', cursive;
}

.heading {
  font-size: 60px;
  font-family: 'Alex Brush', cursive;
  text-align: center;
}

.main {
  font-family: 'Bebas Neue', cursive;
}

.nav {
  font-family: 'Bebas Neue', cursive;
}

ul {
  list-style: none;
}